<!DOCTYPE html>
<html lang="Ja">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>CG__Works-entry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">

</head>
<body>
    {% set workEntries = craft.entries()
        .section('WorksEntry')
        .type('worksEntry')
        .all() %}
    {% for entry in workEntries %}  
        <section class="work__hero"> 
            <div class="work__hero-wrapper">
                {% if entry.workTopImage is not empty %}
                    <picture>
                        <source media="(max-width: 960px)" srcset="" type="image/webp">
                        <img class="hero-img" src="{{ entry.workTopImage.one().getUrl() }}" width="1440" height="1024" alt="">
                    </picture>
                {% endif %}
            </div>  
        </section>
        <section class="work__contents">
            <div class="work__heading">
                <h1 class="work__title">
                    {% for line in entry.title | split('|') %}
                        {{ line }}{% if not loop.last %}<br>{% endif %}
                    {% endfor %}
                </h1>
                <div class="work__info">
                    <div class="work__summary">{{ entry.workSummary }}</div>
                    <div class="work__details">
                        <div class="work__detail__site">
                            <a href="" class="work__detail__site-link">
                                Visit Site
                                <img src="/images/visit-site__arrow.svg" alt="work詳細ページへ">
                            </a>
                        </div>
                        <div class="work__detail__space">
                            <p class="work__year">{{ entry.workYear }}</p>
                            <p class="work__client">Client：{{ entry.workClient }}</p>
                            <p>{{ entry.workSpace | join('<br>') | raw }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="work__body">      
            {% for workContent in entry.workContents.all() %} 
                <div class="work__hero-wrapper">
                    {% if workContent.workImage1col is not empty %}
                        <picture>
                            <source media="(max-width: 960px)" srcset="" type="image/webp">
                            <img class="work__body-top-img" src="{{ workContent.workImage1col.one().getUrl() }}" width="919" height="654" alt="">
                        </picture>
                    {% endif %}
                    {# <div class="splide" aria-label="works__slide">
                        <div class="splide__track">
                            <ul class="splide__list">
                            {% if workContent.workSlideImages|length %}
                                {% for image in workContent.workSlideImages.all() %}
                                <li class="splide__slide">
                                    <picture>
                                        <source media="(max-width: 960px)" srcset="" type="image/webp">
                                        <img class="work__slide" src="{{ image.getUrl() }}" width="447" height="649" alt="">
                                    </picture>
                                </li>
                                {% endfor %}
                                {% for image in workContent.workSlideImages.all() %}
                                <li class="splide__slide">
                                    <picture>
                                        <source media="(max-width: 960px)" srcset="" type="image/webp">
                                        <img class="work__slide" src="{{ image.getUrl() }}" width="447" height="649" alt="">
                                    </picture>
                                </li>
                                {% endfor %}
                                {% for image in workContent.workSlideImages.all() %}
                                <li class="splide__slide">
                                    <picture>
                                        <source media="(max-width: 960px)" srcset="" type="image/webp">
                                        <img class="work__slide" src="{{ image.getUrl() }}" width="447" height="649" alt="">
                                    </picture>
                                </li>
                                {% endfor %}
                            {% endif %}
                            </ul>
                        </div>
                    </div> #}
                    <div class="next-page__link__sub">
                        <a href="" class="next-page">
                            <img class="next-page__img" src="/images/next__small@2x.webp" width="330" height="234" alt="">
                            <div class="next-page__nav">
                                <h2 class="next-page__link__sub__title">Next</h2>
                                <span>Codegraph Namecard</span>
                                <img src="/images/next-page__arrow.svg" alt="nextページへ">
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </section>
    
        <section class="next-page__link">
            <a href="" class="next-page">
                <img class="next-page__img" src="/images/next__small@2x.webp" width="1440" height="1024" alt="">
                <div class="next-page__nav">
                    <h2 class="next-page__link__sub__title">Next</h2>
                    <span>Codegraph Namecard</span>
                    <img src="/images/next-page__arrow.svg" alt="nextページへ">
                </div>
            </a>
        </section>
    {% endfor %}  
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var splide = new Splide('.splide', {
                type: 'loop',  // loopの代わりにslideを使用
                perPage: 2,
                gap: '1.5rem',
                padding: { left: '16rem', right: '16rem' },
                arrows: false,
                pagination: false,
                autoplay: 'play',
                height: '649px', 
                interval: 3000,    // スライド間隔（ミリ秒）
                pauseOnHover: false, // ホバー時に停止しない
                pauseOnFocus: false, // フォーカス時に停止しない
                resetProgress: false,
            });
            splide.mount();
        });
    </script>
</body>
</html>
