{% extends '_layout' %}

{% block content %}
    {% set worksEntries = craft.entries()
        .section('WorksEntry')
        .type('worksEntry')
        .all() %}
    {# 現在のエントリを取得 #}
    {% set currentEntry = craft.entries()
        .section('WorksEntry')
        .type('worksEntry')
        .one() %}

    {# 次のエントリを取得 #}
    {% set nextEntry = currentEntry.next({
        section: 'WorksEntry',
        type: 'worksEntry'
    }) %}
    
    {% for entry in worksEntries %}  
        <section class="work__hero"> 
            <div class="work__hero-wrapper">
                {% if entry.worksTopImage is not empty %}
                    <picture>
                        <source media="(max-width: 960px)" srcset="" type="image/webp">
                        <img class="hero-img" src="{{ entry.worksTopImage.one().getUrl() }}" width="1440" height="1024" alt="">
                    </picture>
                {% endif %}
            </div>  
        </section>
        <section class="work__contents">
            <div class="work__heading">
                <h1 class="work__title">
                    {% for line in entry.title | split('|') %}
                        {{ line }}{% if not loop.last %}<br>{% endif %}
                    {% endfor %}
                </h1>
                <div class="work__info">
                    <div class="work__summary">{{ entry.worksSummary }}</div>
                    <div class="work__details">
                        <div class="work__detail__site">
                            <a href="" class="work__detail__site-link">
                                Visit Site
                                <img src="/images/visit-site__arrow.svg" alt="work詳細ページへ">
                            </a>
                        </div>
                        <div class="work__detail__space">
                            <p class="work__year">{{ entry.worksYear }}</p>
                            <p class="work__client">Client：{{ entry.worksClient }}</p>
                            <p>{{ entry.worksSpace | join('<br>') | raw }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="work__body">      
            {% for worksContents in entry.worksContents.all() %} 
                <div class="work__hero-wrapper">
                    {% if worksContents.worksContentsImage1 is not empty %}
                        <picture>
                            <source media="(max-width: 960px)" srcset="" type="image/webp">
                            <img class="work__body-top-img" src="{{ worksContents.worksContentsImage1.one().getUrl() }}" width="919" height="654" alt="">
                        </picture>
                    {% endif %}
                    <div class="splide" aria-label="works__slide">
                        <div class="splide__track">
                            <ul class="splide__list">
                            {% if worksContents.worksSlideImages is not empty %}
                                {% set slides = worksContents.worksSlideImages.all() %}
                                {% if slides[0] is defined %}
                                    <li class="splide__slide">
                                        <picture>
                                            <source media="(max-width: 960px)" srcset="" type="image/webp">
                                            <img class="work__slide" src="{{ slides[0].getUrl() }}" width="447" height="649" alt="">
                                        </picture>
                                    </li>
                                {% endif %}
                                {% if slides[1] is defined %}
                                    <li class="splide__slide">
                                        <picture>
                                            <source media="(max-width: 960px)" srcset="" type="image/webp">
                                            <img class="work__slide" src="{{ slides[1].getUrl() }}" width="447" height="649" alt="">
                                        </picture>
                                    </li>
                                {% endif %}
                                {% if slides[2] is defined %}
                                    <li class="splide__slide">
                                        <picture>
                                            <source media="(max-width: 960px)" srcset="" type="image/webp">
                                            <img class="work__slide" src="{{ slides[2].getUrl() }}" width="447" height="649" alt="">
                                        </picture>
                                    </li>
                                {% endif %}
                            {% endif %}
                            </ul>
                        </div>
                    </div>
            {% endfor %}
                {# Nextリンクの表示 #}
                {% if nextEntry and nextEntry.worksTopImage %}
                    <div class="next-page__link__sub">
                        <a href="{{ nextEntry.url }}" class="next-page">
                            <img class="next-page__img" src="{{ nextEntry.worksTopImage.one().getUrl() }}" width="330" height="234" alt="">
                            <div class="next-page__nav">
                                <h2 class="next-page__link__sub__title">Next</h2>
                                <span>{{ nextEntry.title }}</span>
                                <img src="/images/next-page__arrow.svg" alt="nextページへ">
                            </div>
                        </a>
                    </div>
                {% endif %}
                </div>
            </div>
        </section>

        {# Nextリンクの表示 #}
    {% if nextEntry and nextEntry.worksTopImage %}
        <section class="next-page__link">
            <a href="{{ nextEntry.url }}" class="next-page">
                <img class="next-page__img" src="{{ nextEntry.worksTopImage.one().getUrl() }}" width="1440" height="1024" alt="">
                <div class="next-page__nav">
                    <h2 class="next-page__link__sub__title">Next</h2>
                    <span>{{ nextEntry.title }}</span>
                    <img src="/images/next-page__arrow.svg" alt="nextページへ">
                </div>
            </a>
        </section>
    {% endif %}
    {% endfor %}  
{% endblock %}